* {
    margin: 0;
    padding: 0;
}
.site {
    font-family: Roboto;
}
th {
    border: 3px solid #000000;
}
td {
    border: 3px solid #000000;
}
.center {
    padding-left: calc(50% - 530px);
    padding-right: calc(50% - 530px);
  }
header {
    border: 0px solid #000;
    background: rgba(37, 73, 31, 0.31);
    padding-top: 15px;
    padding-bottom: 15px;  
}

.header_a {
    text-decoration: none;
    color: #FFFFFF;    
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-transform: capitalize;
    
}

.content_info {
    color: #FFDF9E;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 1.4px;
}




