* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.site {
    font-family: Roboto;
}

.center {
    padding-left: calc(50% - 530px);
    padding-right: calc(50% - 530px);
  }
header {
    border: 0px solid #000;
    background: rgba(37, 73, 31, 0.31);
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex; 
    justify-content: space-around; 
    align-items: center;
    
}

.header_a {
    text-decoration: none;
    color: #000000;    
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-transform: capitalize;
}
 
.content_img{
    width: 100%;
}
h1{
    color: #FFDF9E;
    font-feature-settings: 'dnom' on, 'numr' on;
    text-shadow: 0px 7px 4px rgba(0, 0, 0, 0.40);
    font-size: 36px;
    font-style: normal;
    font-weight: 300;
    line-height: 115.7%; /* 41.652px */
    font-variant: small-caps;
    letter-spacing: 1.08px;
    background-color: rgba(87, 82, 73, 0.98);

}
.content_img-bottom{
    padding-top: 33px;
    padding-bottom: 33px;
    display: flex;
    justify-content: center;
}
.info{
    background-color: rgba(87, 82, 73, 0.98);
}
#h21{
    color: #FFDF9E;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 20.16px;
    padding-bottom: 15.23px;
    padding-left: 33px;
}
.content_info {
    color: #FFDF9E;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 1.4px;
    text-align: justify;
    padding: 0px 33px 23px 33px;
}

.garden_img{
    width: 100%;
    padding-top: 7.06px;
}
.garden_info {
    color: #FFDF9E;
    text-align: justify;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 20px; /* 142.857% */
    letter-spacing: 1.4px;
    border-radius: 5px;
    background: rgba(57, 54, 47, 0.80);
    padding-top: 22px;
    padding-bottom: 21px;
    display: flex;
    justify-content: center;
    padding-left: 26px;
    padding-right: 19px;
}

#h22{
    padding-bottom: 7.06px;
}
.project_img{
    display: flex;
    flex-direction: row;
    gap: 18px;
    position: relative;
   
}

.project_img-big > img{
    width: 100%;
    height: 100%;
}
.project_img-small{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 18px;
    
}
.project_img-small > jmg{
    width: 100%;
    height: auto;
}
.li_small{
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 178.571% */
    letter-spacing: 0.7px;
    fill: #FF7E35;
    list-style-type: none;
    padding-left: 20px;
}
.li_small:before{
    content: url(img/Ellipse\ 7.svg);
    width: 3.937px;
    height: 3.851px;
    flex-shrink: 0;
    fill: #FF7E35;
    padding-right: 10.06px;
}
.p_big{
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}
.landscape_info_big{
       background: #5A554D; 
}
.landscape_info {
    color: #FFDF9E;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 20px; 
    letter-spacing: 0.7px;
    border-radius: 5px;
    padding: 19px 19px 30px 26px;
}
.landscape_party{
        padding-top: 45px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 20px;
        row-gap: 25px;
}
.landscape_page{
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #000;
    padding-bottom: 4px;
}

.review_people,
.review_word {
   color: #34642C;
    text-align: justify;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
}

#h22,
#h23,
#h24,
#h25{
    color: #34642C;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
}

#h25{
    display: flex;
    justify-content: center;
}
#h24{
    padding-bottom: 41px;
}
.reviews{
    padding-bottom: 79px;
    display: flex;
    flex-direction: column;
}
.review{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 335px;
}
.review_img-up{
    padding-top: 78px;
}
#h25{
    padding-bottom: 59px;
}
.reviews_people{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 23px;
   

}
.review_img{
    padding-top: 27px;
}
.review_people{
    padding-top: 25px;
    padding-bottom: 26px;
    text-align: center
    
}
.h26{
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
footer{
    display: flex;
    flex-direction: column;
}
.footer_right{
    display: flex;
    justify-content: center;
    gap: 32px;
}
.footer_medium{
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 33px;
    padding-bottom: 49px;
    display: flex;
    justify-content: space-between;
}
.footer_bootom{
    width: 100%;
    background: #5A554D;
}
.footer_img{
    width: 100%;
}
footer{
    background-image:url(img/НИЖНЯЯ\ конт\ информ.jpg);
}
.footer_up{
    padding-top: 60px;
    display: flex;
    justify-content: space-between;
    gap: 634px;
}
.tel,
.location{
  display: flex;
  justify-content: flex-start;
  gap: 9px;
}